@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root,
[data-dark='true'] {
	--color-background: var(--indigo-dark-1);
	--color-text: var(--indigo-dark-12);
}

[data-dark='false'] {
	--color-background: var(--indigo-1);
	--color-text: var(--indigo-12);
	--color-emphasis: var(--orange-10);
	--color-accent: var(--red-11);
	--brand-blue: var(--crimson-11);
	--brand-purple: var(--orange-9);
}

@layer base {
	*,
	*::before,
	*::after {
		@apply box-border antialiased;
	}

	:root {
		--background: theme(colors.indigo-1);
		--text: theme(colors.indigo-12);
		--emphasis: theme(colors.indigo-11);
		--accent: theme(colors.plum-11);
		--brand-a: theme(colors.crimson-11);
		--brand-b: theme(colors.orange-9);
	}

	[data-dark='true'] {
		--background: theme(colors.indigo-dark-1);
		--text: theme(colors.indigo-dark-12);
		--emphasis: theme(colors.indigo-dark-11);
		--accent: theme(colors.plum-dark-11);
		--brand-a: theme(colors.blue-9);
		--brand-b: theme(colors.purple-9);
	}
}
